body 
{
  font-family: 'Open Sans', Arial, helvetica, sans-serif;
  margin: 20px;
  margin-top: 5px;
}

H1 
{
  font-size: 20pt; 
  font-family: 'Lobster Two', Cursif, Cursive, fantasy; 
  font-weight: normal; 
  margin-bottom:0
}

H2 
{
  font-family: 'Lobster Two', Arial, sans-serif; 
  font-weight: bold; 
  font-size: 14pt;
}

H4 
{
  margin-bottom: 5px;
}

.menu-panel 
{
  display: inline;
  float: left;
  padding: 10px 15px 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}

.menu-panel a 
{
  color: #777;
}

/* Family Search box */
div.FamilySearch
{
  margin: 5px;
  padding: 5px;
  border: 2px solid #336600;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #eee;
}

.FamilySearch label
{
  min-width: 250px;
  padding-right: 20px;
  display: inline;
  vertical-align: middle;
}

.FamilySearch input 
{
  vertical-align: text-top;
}

.form-horizontal > .control-group > * {
  padding-top: 0;
}

/* Family form styles */
.FamilyForm {
  margin: 5px;
  box-shadow: 2px 2px 2px #eee;
  box-shadow: 10px 10px 20px #000;
}

.FamilyForm .Pager {
  background-color: #1C5E55;
  color: White;
}

.FamilyForm .Header {
  background-color: #1C5E55;
}

.FamilyForm h2 {
  font-family: 'Open Sans', Arial, helvetica;
}

/* General form */
td.TDLabels {
  width: 110px;
}

.TDLabels, label.control-label {
  font-weight: bold;
  vertical-align: top;
  min-width: 150px;
}

.TDValue {
  vertical-align: top;
  margin-left: 10px;
  min-width: 150px;
}

.autre-contact {
  color: #999;
}

.NotesBox {
  height: 90px;
  overflow-y:scroll;
  border: solid 1px gray;
  padding: 2px;
  margin-bottom: 10px;
  min-width: 250px;
}

.NotesBox * {
  border: none;
}

.FamilyButton
{
  font-weight: bold;
}

.FamilyButton:hover 
{
  background-color: gray;
}

.FamilyButtonList
{
  text-align: center;
  width: 100%;
  margin-top: 10px;
  clear: both;
}

/* Form Tables */
.contact
{
  padding: 5px;
  background: white;
}

.contact .control-group 
{
  margin-bottom: 0px;
}

.accueil
{
  padding: 10px;
}
.eleve
{
  width: 100%;
  display: block;
  clear: both;
  background: #E3EAEB;
}

.eleve h3 
{
  cursor: pointer;
}

.eleve h4 
{
  color: Navy;
  margin-top: 0px;
}

.eleve .details {
  /*display: block;
  width: 100%;
  min-height: 250px;
  margin-left: auto;
  margin-right: auto;*/
}

.eleve .details, .eleve .section 
{
  background: #E3EAEB;
}

.eleve .form-horizontal label.control-label 
{
  width: 100px;
  min-width: 50px;
}

.eleve .form-horizontal .controls 
{
  margin-left: 105px;
}

.edition 
{
  background-color: #A9556A;
  background-color: rgba(100, 100, 255, 0.3);
  padding-bottom: 20px;
}

.divider {
  height: 20px;
  clear:both;
}

.left
{
  float:left;
}

.right
{
  float: none;
}

.inline
{
  display: inline;
}

.datadiv
{
  display: block;

  margin-right: 15px;
  margin-top: 5px;
}
.datadiv .right
{
  padding-right: 20px;
}

.datadiv span.checkbox 
{
  display: block;
}

.eleve section, .eleve .section 
{
  display: block;
  padding: 10px;
  float:left;
  min-width: 25%;
  min-height: 250px;
  border: solid 1px #ccc;
  border-radius: 5px;
  height: 100%;
}

.section span.TDLabels
{
  display: inline-block;
  min-width: 110px;
}